.Sidebar {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* فاصله بین المنت‌ها توسط bottom جدا می‌شود */
    background-color: #a9a9a9;
    padding: 25px 15px;
    position: relative; /* برای مرجع دادن به bottom */
}

.Sidebar img {
    width: 20px;
}

.Sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.Sidebar .newchat {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #a0a0a0;
    color: rgb(0, 0, 0);
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.Sidebar .newchat:hover {
    transition: 0.5s;
    background-color: aliceblue;
}
.Sidebar .newchat img {
    width: 20px;
}

.Sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.4s;
}

.Sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.Sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 9px;
    border-radius: 50px;
    color: #020202;
    cursor: pointer;
    transition: 0.5;
}

.Sidebar .recent-entry .c{
    font-size: 20px;
}

.Sidebar .recent-entry:hover {
    background-color: #c7c7c7;
    transition: 0.5s;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.newchat img {
    width: 15px;
    border-radius: 20px;
}

/* بخش Bottom ثابت و بالاتر از پایین صفحه */
.Sidebar .bottom {
    position: fixed; /* فیکس کردن */
    bottom: 30px; /* فاصله کمی بالاتر از پایین */

    display: flex;
    flex-direction: column;
    gap: 10px;
}


.Sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
}


.VscHistory {
    background-color: black;
}


@media (max-width:600px) {
    .Sidebar{
        display: none;
    }
    
}